/*importing Strats*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fuggles&display=swap");

/*importing Ends*/

/*Global styles Starts*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  position: relative;
}
/*Scrool Bar Starts*/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb{
  background-color: #373737;
}
::-webkit-scrollbar-track{
  background-color: black;
}
/*Scrool Bar Ends*/
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  text-decoration: none;
  color: var(--primary-color);
}
ul li {
  list-style: none;
}
.btn {
  border: none;
  background-color: var(--btn-bg);
  color: var(--bg-color);
  padding: 17px 55px;
  font-weight: 700;
  transition: 0.5s ease;
}
.btn:hover {
  color: white;
  transform: scale(1.1);
}
/*Global styles Ends*/

/*Variables starts*/
:root {
  --primary-color: white;
  --heading-colors: #212129;
  --links-colors: #323944;
  --bg-color: #efefef;
  --btn-bg: black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*Variables ends*/
/*Loader Starts*/
.spinner-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.loader {
  display: inline-block;
  text-align: center;
  width: 60px;
  height: 60px;
  position: relative;
  border: 8px solid #Fff;
  top: -2%;
  left: -15px;
  right: -28px;
  animation: loader 2s infinite ease;
}

  

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
.disppear{
  animation: vanish 3s forwards;
}
@keyframes vanish {
  50%{
    opacity: 0.5;
    visibility: visible;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/*Loader Ends*/
/*Nav Bar starts*/
.header {
  width: 100%;
  height: 15vh;
  background-color: white;
  color: black;
  text-align: center;
  position: relative;
  z-index: 999;
}
.header .logo{
  color: black;
  font-weight: 700;
  font-size: 20px;
}
.header .containers {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content :center;
}
.fa-bars {
  cursor: pointer;
  z-index: 100;
  color: black;
}
.nav-links li {
  display: inline;
  padding: 0 10px;
  margin: 0 10px;
}
.nav-links li a {
  text-transform: uppercase;
  font-size: 50px;
  transition: 0.5s ease;
  color: black;
  transition: 0.5s ease;
}
.nav-links.open a{
  transition: 0.5s ease;
  color: var(--links-colors);
}
.nav-links.open a:hover{
  color: black;
}
.containers .fa-bars {
  color: black;
  position: absolute;
  right: 40px;
  top: 41px;
  display: block;
  z-index: 100;
}
.nav-links {
  width: 100%;
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: absolute;
  top: 99px;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: white;
  color: black;
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}
.nav-links.open {
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}
/*Nav Bar Ends*/

/*Hero Section Starts*/
.hero {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  background-color: black;
  color: white;
}
.hero .containers{
  height: 100%;
  width :100%;
  justify-content :center;
  align-items :center;
  display: flex;
}
.text{
  font-weight :500;
  font-size :50px ;
  color: white;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.dud{
  color :#757575;
}
  
/*Hero Section Ends*/

.find-out-sec {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-color: var(--bg-color);
}
.find-out-sec .container {
  width: 80%;
  margin: 0% auto;
  height: 100%;
  text-align: center;
}
.find-out-sec .text-contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.find-out-sec .text-contents h5 {
  font-weight: 500;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: 1px;
}
.find-out-sec .text-contents h1 {
  line-height: 56px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}
.find-out-sec .text-contents p {
  max-width: 900px;
  font-size: 12px;
  font-weight: 400;
}
.find-out-sec .text-contents .btn {
  margin-top: 15px;
}

/*find-out-sec Ends*/
/*event-sec Starts*/
.event-sec {
  overflow: hidden;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}
.event-sec .containers {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-sec .row {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.event-sec .col-lg-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.event-sec .iteam {
  width: 100%;
  height: 100%;
}
.event-sec .iteam .img-container {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin: 15px 0;
}
.event-sec .iteam img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle();
}
.event-sec .iteam h1 {
  text-transform: uppercase;
  line-height: 26px;
  font-size: 18px;
  letter-spacing: 1px;
}
.event-sec .iteam p {
  text-transform: uppercase;
}
.event-sec .btn{
  text-transform: uppercase;
  transition: 0.5s ease;
}
.event-sec .mid-btn {
  margin-top: 28px;
}
.event-sec .last-btn {
  margin-top: 28px;
}
.event-sec .btn:hover{
  transform: scale(1.1);
}
/*event-sec Ends*/
/*event-count-sec starts*/
.project-counter-wrp {
  overflow: hidden;
 background: var(--bg-color);
 width: 100%;
 height: 50vh;
 text-align: center;
}

.project-counter-wrp ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.project-counter-wrp li {
  width: 33.33%;
  height: auto;
  padding: 30px 0px;
  text-align: center;
  transition: 0.2s linear;
}

.project-counter-wrp li:nth-child(1) {
  background: var(--bg-color);
}

.project-counter-wrp li:nth-child(2) {
  background: var(--bg-color);
}

.project-counter-wrp li:nth-child(3) {
  background: var(--bg-color);
}

.project-counter-wrp li p.number {
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.project-counter-wrp li p {
  color: var(--heading-colors);
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 10px;
}

.project-counter-wrp li span {
  width: 60px;
  background: var(--bg-color);
  height: 2px;
  display: block;
  margin: 0 auto;
}

.project-counter-wrp li i {
  vertical-align: middle;
  font-size: 50px;
  color: var(--heading-colors);
}
/*event-count-secEnds*/
/*Footer Starts*/
.footer{
  width: 100%;
  height: 30vh;
  overflow: hidden;
  background-color : rgb(255, 250, 246);
  position: relative;
  padding: 25px 0;
}
.footer .footer-container{
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
.footer .footer-container .row{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.footer .footer-logo{
  font-size: 25px;
}
.icons a i{
  color: black;
  font-size: 35px;
  padding: 0 10px;
  transition: 0.5s ease;
}
.icons a i:hover{
  transform: translateY(-50%);
}
.created-by{
  width: 100%;
  color: black;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 4px;
  position: absolute;
  bottom: 0%;
  right: 50%;
  left: 43%;
  margin-bottom: 5px;
  padding-bottom: 15px;
  cursor: pointer;
}
/*Footer Ends*/

/*mobie*/
@media (max-width: 500px)  {
  ::-webkit-scrollbar{
  display :none;
}
  .loader{
    left: 5px;
  }
  .nav-links {
    top: 85%;
  }
  .header .nav-links a {
    font-size: 25px;
  }
  .hero {
    height: 87vh;
    overflow: hidden;
    background-color: black;
    color: white;
  }
  .text{
    font-weight :500;
    font-size :20px ;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  /*find out sec*/
  /*Find out sec starts*/
  .find-out-sec{
    height : 120vh;
    padding-top: 20px;
  }
  .find-out-sec .container {
    width: 95%;
    padding : 25px 0;
    margin: 0 auto;
  }
  .find-out-sec .text-contents {
    max-width: 400px;
  }
  .find-out-sec .text-contents h1 {
    font-size: 31px;
    line-height: 39px;
  }
  /*Find out sec Ends*/
  /*Event sec starts*/
  .event-sec {
    width: 100%;
    height: 280vh;
  }
  .event-sec .row {
    padding: 20px 0;
    display: grid;
    grid-column: 1;
    grid-row: 1fr 1fr 1fr;
  }
  .event-sec .row .btn{
    margin: 15px 0;
  }
  .event-sec .col-12 {
    height: auto;
  }
  /*Event sec Ends*/
  /*conter stars*/
  .project-counter-wrp{
    height: 80vh;
    margin-top: 40px;
    padding: 20px 0;
  }
  .project-counter-wrp ul{
   flex-direction: column; 
    height: 80vh;
  }
  .project-counter-wrp ul li{
    height: 26vh;
    width: 45%;
    padding: 12px 0;
    text-align: center;
  }
  .project-counter-wrp ul li i{
    font-size: 30px;
    padding: 7px 0;
  }
  .project-counter-wrp ul li p{
    font-size: 15px;
    padding: 5px;
  }
  /*conter ends*/
  /*Footer Starts*/
  .footer{
    padding-top: 10px;
    height: 30vh;
  }
  .footer img{
    margin-bottom: 15px;
  }
  .icons a i{
    font-size: 25px;
    padding: 0 4px;
  }
  .col-lg-6 .footer-logo{
    font-size: 10px;
  }
  .created-by{
    left: 29%;
  }
  /*Footer Ends*/
}

/*Ipad*/ 
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .loader{
    left: 12px;
    width: 150px;
    height: 150px;
    border: solid 15px #fff;
  }
  
  .header {
    height: 9vh;
    position: relative;
  }
  .header .logo {
    font-size: 24px;
  }
  .nav-links {
    position: absolute;
    top: 91px;
    bottom: 0%;
    right: 0%;
    left: 0%;
    height: 100vh;
  }
  .hero {
    height: 93vh;
    background-color: black;
    color: white;
  }
  .find-out-sec {
    height: 80vh;
  }
  .find-out-sec .containers {
    width: 85%;
    margin: 0 auto;
  }
  .find-out-sec .text-contents {
    line-height: 25px;
  }
  .find-out-sec .text-contents h3 {
    font-size: 24px;
  }
  .find-out-sec .text-contents h1 {
    font-weight: 600;
    line-height: 56px;
    font-size: 44px;
    letter-spacing: 2px;
  }
  .find-out-sec .text-contents p {
    text-align: center;
    line-height: 20px;
  }
  /*Event Sec*/
  .event-sec {
    width: 100%;
    height: 170vh;
  }
  .event-sec .row {
    height: 170vh;
    width: 100%;
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-row: 1;
  }
  .event-sec .col-lg-4{
    justify-content: space-evenly;
  }
  /*counter sec*/
  .project-counter-wrp{
    height: 45vh;
  }
  .project-counter-wrp ul{
    height: 45vh;
  }
  /*footer starts*/
  .footer{
    height: 25vh;
  }
  .created-by{
    font-size: 15px;
    left: 38%;
    padding-bottom: 25px;
  }
  /*footer ends*/
}
